@charset "UTF-8";


/*Global style*/

	body {
		font-family: 'Cairo', sans-serif;
		box-sizing: border-box;
		direction: rtl;
	}

	ul {
		direction: rtl;
	}
   
	nav {
		direction: rtl ;
		height: 90px;
		border-bottom: 1px solid #B7B7B7;
		background-color: #FBFBFB;
	}

	.mr-auto, .mx-auto {
		margin-left: auto;
	}

	.no-padding {
		padding: 0px;
	}

	.side-padding {
		padding-left: 20px;
		padding-right: 20px;
	}

	.no-margin {
		margin: 0px;
	}

	.margin-top-bottom {
		margin-top: 25px;
		margin-bottom: 25px;
	}

	.my-border {
		border: 1px solid #a0a0a0;
		border-radius: 5px;
	}

/*End of global style*/

/* start navbar */
 
	.navbar-light .navbar-toggler {
		border: none!important;
	}

	.navbar-brand {
		margin-right: 50px;
	}

	.navbar-brand img {
		width: 200px;
		height: 80px;
	}

	.navbar-light .navbar-nav .show > .nav-link, .navbar-light 
	.navbar-nav .active > .nav-link, .navbar-light .navbar-nav 
	.nav-link.show, .navbar-light .navbar-nav .nav-link.active {
		color: #c4112f;
	}

	.navbar-light .navbar-nav {
		float: right; 
		margin-right: auto;
	}

	.navbar-light .navbar-nav .nav-link {
		font-size: 20px;
		margin: auto ;
		height: 90px;
		line-height: 90px;
		transition: line-height 0.3s;
		padding-left: 20px;
		max-width: 180px;
		color: #1F1F1F;
		background-color: #FBFBFB;
		display: inline-block;
		font-weight: 300;
	}

	.navbar-light .navbar-nav .nav-item:hover .nav-link {
		color: #c4112f;
		line-height: 70px;
		display: inline-block;
	}

	.form-inline {
		display: inline-block;
	}


/* end navbar */

/* start about */

	.about {
		overflow: hidden;
	}
    
	.about h3 {
		margin: 50px 15%;
		float: right;
		border-bottom: 2px solid #c4112f;
		padding-bottom: 15px;
    }
	
	.about p {
		margin: 0 18%;
		float: right;
		clear: right;
		font-size: 18px;
		color: #616161;
		text-align: center;
		line-height: 50px;
		word-spacing: 2px;
	}

	.about p span {
        color: #c4112f;
		margin: 0 4px;
		font-weight: bold;
		font-size: 20px;
	}

	#gobus {
		color: #616161;
		margin: 0;
	}
/* end about */

/* start contact */
	.contact {
			overflow: hidden;
			margin-top: 100px;
			padding-bottom: 50px;
	}

    .contact h3 {
			margin: 50px 15%;
			float: right;
			clear: right;
			border-bottom: 2px solid #c4112f;
			padding-bottom: 15px;
	}

	.contact div {
		float: right;
		clear: right;
	}

	.contact a {
		text-decoration: none;
		color: #616161;
		font-size: 24px;
		color: #616161;
		text-align: center;
		line-height: 50px;
		word-spacing: 5px;
		font-weight: bold;
		font-family: 'Tajawal', sans-serif;
		letter-spacing: 2px;
	}

	.contact a:hover {
		color: #c4112f;
	}

	.contact p {
			margin: auto;
			font-size: 24px;
			color: #616161;
			text-align: center;
			line-height: 50px;
			word-spacing: 5px;
			font-weight: bold;
			font-family: 'Tajawal', sans-serif;
			letter-spacing: 2px;
	}

/* end contact */

/* start clients */

	.clients {
		overflow: hidden;
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.clients h3 {
		margin: 50px 15%;
		float: right;
		border-bottom: 2px solid #c4112f;
		padding-bottom: 15px;
	}

	.clients .w-100 {
		width: 90% !important;
		margin-right: auto;
		margin-left: auto;
	}

	.carousel-control-prev, .carousel-control-next {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: rgba(0,0,0,.4);
		margin-top: 130px;
		margin-right: 0px;
		margin-left: 0px;
	}


/* end clients */

/* start footer */
	.footer {
		height: 70px;
		background:url(../images/what-the-hex.png);
		margin-top: 100px;
		border-top: 1px solid #C0C0C0;
		float: right;
		direction: ltr;
		padding: 0px 100px;
	}

	.footer .row .rights {
		padding-top: 22px;
	}

	.footer .row .rights p {
		color: #8b8b8b;
		font-size: 14px;
		line-height: 30px;
	}

	.footer .row .icons {
		text-align: right;
	}

	.footer .row .icons a i {
		padding-right: 10px;
		padding-left: 10px;
		text-decoration: none!important;
		font-size: 16px;
		color: #292929;
		line-height: 70px;
	}

	.footer .row .icons a i:hover {
		color: #c4112f;
	}

/* end footer */

/* start honeymoon */

	.honeymoon {
		overflow: hidden;
	}

	.honeymoon h2 {
			margin: 50px 12%;
			float: right;
			border-bottom: 2px solid #c4112f;
			padding-bottom: 15px;
			color: #616161;
	}

	.honeymoon .info {
		margin-top: 100px;
		font-size: 20px;
		line-height: 40px;
		text-align: right;
		padding-left: 30px;
		padding-right: 30px;
	}

	.honeymoon .info h3 {
		color: #c4112f;
		text-align: center;
		margin-bottom: 50px;
	}

	.honeymoon .info ul {
		color: #5e5e5e;
		list-style: none;
	}

	.honeymoon .info ul li::before {
		content: "-";
		color: #999999;
		margin-left: 2%;
	}

/* end honeymoon */

/* start tourism */

	.tourism {
		overflow: hidden;
	}

	.tourism h2 {
		margin: 50px 8%;
		float: right;
		border-bottom: 2px solid #c4112f;
		padding-bottom: 15px;
		color: #616161;
	}

	.tourism .info {
		margin-top:100px;
		color: #5e5e5e;
		font-size: 20px;
		line-height: 40px;
		text-align: center;
		padding-left: 20px;
		padding-right: 20px;
	}
	
/* end tourism */

/* start limousine */

	.limo {
		overflow: hidden;
	}

	.limo h2 {
		margin: 50px 12%;
		float: right;
		border-bottom: 2px solid #c4112f;
		padding-bottom: 15px;
		color: #616161;
	}

	.limo .card {
		text-align: center;
		margin-bottom: 20px;
	}

	.btn-link {
		width: 100%;
		font-weight: 500;
		color: #585858;
		background-color: transparent;
		font-size: 20px;
	}

	.btn-link:hover {
		color: #c4112f;
		text-decoration: none;
	}

	.btn-link:focus {
		color: #c4112f;
		text-decoration: none;
	}

	.btn-link:focus i {
		transform: rotate(180deg);
		transition: 0.5s;
	}

	.btn-link i {
		margin-right: 15px;
	}

	.limo .info {
		margin-top: 50px;
		color: #5e5e5e;
		font-size: 20px;
		line-height: 40px;
		text-align: center;
		padding-left: 20px;
		padding-right: 20px;
	}

	.limo .info h3 {
		color: #c4112f;
		margin-bottom: 30px;
	}

/* end limousine */

/* start trips */

	.trips {
		overflow: hidden;
	}

	.trips h2 {
			margin: 50px 12%;
			float: right;
			border-bottom: 2px solid #c4112f;
			padding-bottom: 15px;
			color: #616161;
	}

	.trips .info {
		margin-top: 100px;
		color: #5e5e5e;
		font-size: 20px;
		line-height: 40px;
		text-align: center;
		padding-left: 20px;
		padding-right: 20px;
	}

	.trips .info h3 {
		color: #c4112f;
		text-align: center;
		margin-bottom: 50px;
	}

	.trips .info ul {
		list-style-type: none;
	}

	.trips .info li {
		text-align: right;
		font-size: 20px;
		line-height: 45px;
	}

/* end trips */

/* start flights */

	.flights {
		overflow: hidden;
	}

	.flights h2 {
			margin: 50px 12%;
			float: right;
			border-bottom: 2px solid #c4112f;
			padding-bottom: 15px;
			color: #616161;
	}

	.flights .flights-cover {
		max-height: 90vh;
	}

	.flights .flights-cover img {
		width: 100%
	}

	.flights .info {
		margin-top: 100px;
		margin-right: 20px;
		margin-left: 20px;
	}

	.flights .info h3 {
		color: #c4112f;
		text-align: center;
		margin-top: 30px;
	}

	.flights .info h4 {
		color: #5e5e5e;
		text-align: center;
		margin-top: 30px;
	}

	.flights .info p {
		color: #a0a0a0;
		font-size: 20px;
		line-height: 50px;
		text-align: center;
		margin-top: 50px;
	}

/* end flights */

/* start images gallery */

	.gallery-image1 {
		height: 500px;
	}

	.gallery-image2 img , .gallery-image1 img {
		width: 100%!important;
		height: 100%!important;
	}

	.gallery-image2 {
		height: 250px;
	}

	.img-box {
		position: relative;
	}

	.img-box-effect {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: rgb(0,0,0,.6);
		opacity: 0;
		-webkit-transition: opacity 0.8s, visibility 0.8s;
		transition: opacity 0.8s, visiblity 0.8s;
		visibility: hidden;
	}

	.img-box-effect h5 {
		color: #ffffff;
		font-size: 24px;
		text-align: center; 
		font-weight: bold;
		line-height: 250px;
	}

	.img-box:hover .img-box-effect {
		opacity: 1;
		visibility: visible;
	}

	.limo-item {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 15px;
		left: 15px;
		background-color: rgb(0,0,0,.6);
		opacity: 0;
		-webkit-transition: opacity 0.8s, visibility 0.8s;
		transition: opacity 0.8s, visiblity 0.8s;
		visibility: hidden;
	}

	.img-box:hover .limo-item {
		opacity: 1;
		visibility: visible;
	}

	.img-box:focus .limo-item {
		opacity: 1;
		visibility: visible;
	}

	.limo-item h5 {
		color: #ffffff;
		font-size: 24px;
		text-align: center; 
		font-weight: bold;
		margin-top: 120px;
	}


/* end images gallery */

										/* Start Media Query */

/* Custom, iPhone Retina */ 
	@media only screen and (min-width : 320px) and (max-width : 480px) {
	
	.margin-top-bottom {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.navbar-light .navbar-nav {
		padding-bottom: 10px;
	}
	
	.navbar-collapse {
		max-width: 150px;
		z-index: 1000;
		float: left!important;
		margin-right: 50%;
		background-color: #ffffff;
		border: 1px solid #969696;
		border-radius: 5px;
	}

	.navbar-brand {
		margin-right: auto;
		margin-left: auto;
	}

	.navbar-brand img {
		width: 150px;
		margin-right: 30px;
	}

	.navbar-collapse {
		-ms-flex-preferred-size: 100%;
		flex-basis: 45%;
		-ms-flex-positive: 1;
		flex-grow: .45;
		-ms-flex-align: center;
		align-items: center;
	}

	.navbar-nav .navbar-item {
		width: 140px;
		height: 50px;
	}

	.navbar-light .navbar-nav .nav-link {
		font-size: 18px;
		height: 60px;
		padding-top: 10px;
		width: 155px;
		color: #1F1F1F;
		background-color: transparent;
		display: inline-block;
		line-height: 50px;
		text-align: center;
		padding-left: 0px;
	}

	.navbar-light .navbar-nav .nav-item:hover .nav-link {
		color: #c4112f;
		line-height: 50px;
		display: inline-block;
	}

	/* carousel */

	.carousel-item img {
		max-height: 50vh ;
		min-height: 50vh ;
	}

	/* about */

	.about h3 {
		margin: 30px 5%;
		float: right;
		border-bottom: 2px solid #c4112f;
		padding-bottom: 15px;
		font-size: 20px;
    }
	
	.about p {
		margin: 0 8%;
		float: right;
		clear: right;
		font-size: 14px;
		color: #616161;
		text-align: center;
		line-height: 30px;
		word-spacing: 2px;
	}

	.about p span {
        color: #c4112f;
		margin: 0 4px;
		font-weight: bold;
		font-size: 15px;
	}

	/* clients */

	.clients {
		overflow: hidden;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.clients h3 {
		margin: 30px 10%;
		float: right;
		border-bottom: 2px solid #c4112f;
		padding-bottom: 15px;
		font-size: 20px;
	}

	.clients .carousel-item img {
		max-height: 18vh;
		min-height: 18vh;
		max-width: 85%;
	}

	.carousel-control-prev, .carousel-control-next {
		width: 25px;
		height: 25px;
		margin-top: 50px;
	}

	/* contacts */

	.contact {
		overflow: hidden;
		margin-top: 20px;
		padding-bottom: 10px;
	}

	.contact h3 {
			margin: 20px 5% 40px 5%;
			float: right;
			clear: right;
			border-bottom: 2px solid #c4112f;
			padding-bottom: 15px;
			font-size: 20px;
	}

	.contact p {
			margin: auto;
			font-size: 16px;
			color: #616161;
			text-align: center;
			line-height: 30px;
			word-spacing: 5px;
			font-weight: bold;
			font-family: 'Tajawal', sans-serif;
			letter-spacing: 2px;
	}

	.contact a {
		text-decoration: none;
		color: #616161;
		font-size: 16px;
		color: #616161;
		text-align: center;
		line-height: 40px;
		word-spacing: 5px;
		font-weight: bold;
		font-family: 'Tajawal', sans-serif;
		letter-spacing: 2px;
	}

	/* footer */

	.footer {
		height: 70px;
		position: relative;
		text-align: center;
		margin-top: 40px;
		padding: 0px;
	}
	
	.footer .row .rights {
		bottom: 0px;
		position: absolute;
		text-align: center;
		padding-right: 35px;
	}
	
	.footer .row .icons {
		position: absolute;
		text-align: center;
		top: 10px;
		padding-right: 30px;
	}

	.footer .row .rights p {
		font-size: 11px;
		line-height: 5px;
	}

	.footer .row .icons a i {
		font-size: 12px;
		line-height: 20px;
		padding-left:7px;
		padding-right: 7px; 
	}


	/* gallery */

	.gallery-image1 {
		height: 180px;
	}

	.gallery-image2 {
		height: 90px;
	}

	.gallery-image2 img , .gallery-image1 img {
		width: 100%!important;
		height: 100%!important;
	}

	.img-box-effect {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: rgb(0,0,0,.6);
		opacity: 0;
		-webkit-transition: opacity 0.8s, visibility 0.8s;
		transition: opacity 0.8s, visiblity 0.8s;
		visibility: hidden;
	}

	.img-box-effect h5 {
		font-size: 12px;
		line-height: 90px;
	}

	.img-box:hover .img-box-effect {
		opacity: 1;
		visibility: visible;
	}

	.img-box:focus .img-box-effect {
		opacity: 1;
		visibility: visible;
	}

	.limo-item {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 15px;
		left: 15px;
		background-color: rgb(0,0,0,.6);
		opacity: 0;
		-webkit-transition: opacity 0.8s, visibility 0.8s;
		transition: opacity 0.8s, visiblity 0.8s;
		visibility: hidden;
	}

	.img-box:hover .limo-item {
		opacity: 1;
		visibility: visible;
	}

	.img-box:focus .limo-item {
		opacity: 1;
		visibility: visible;
	}

	.limo-item h5 {
		color: #d3d3d3;
		font-size: 14px;
		margin-top: 35px;
	}

	/* honeymoon */

	.honeymoon h2 {
		margin: 30px 10%;
		font-size: 20px;
		padding-bottom: 15px;
	}

	.honeymoon .info {
		margin-top: 50px;
		font-size: 16px;
		line-height: 40px;
		text-align: right;
		padding-left: 20px;
		padding-right: 20px;
	}

	.honeymoon .info h3 {
		font-size: 19px;
		line-height: 40px;
		margin-bottom: 25px;
	}

	/* Tourism */

	.tourism h2 {
		margin: 30px 10%;
		font-size: 20px;
	}

	.tourism .info {
		margin-top: 50px;
		font-size: 14px;
		padding-left: 20px;
		padding-right: 20px;
	}

	/* Limousine */

	.limo h2 {
		margin: 30px 10% 20px 10%;
		font-size: 20px;
	}

	.limo .info {
		margin-top: 0px;
		margin-bottom: 20px;
		font-size: 14px;
		padding-left: 30px;
		padding-right: 30px;
		line-height: 30px;
	}

	.limo .card-body {
		padding: 0px;
	}

	.btn-link {
		font-weight: 400;
		font-size: 18px;
	}

	/* Trips */

	.trips h2 {
		margin: 30px 10%;
		font-size: 20px;
	}

	.trips .info {
		margin-top: 50px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.trips .info h3 {
		font-size: 18px;
		line-height: 40px;
		margin-bottom: 20px;
	}

	.trips .info li {
		font-size: 14px;
		line-height: 35px;
	}

	/* Flights */

	.flights h2 {
		margin: 30px 10%;
		font-size: 20px;
	}

	.flights .flights-cover {
		max-height: 50vh;
	}

	.flights .info {
		margin-top: 50px;
	}

	.flights .info h3 {
		font-size: 19px;
		line-height: 40px;
	}

	.flights .info h4 {
		font-size: 18px;
		line-height: 40px;
	}

	.flights .info p {
		font-size: 16px;
		line-height: 35px;
		margin-top: 30px;
	}

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) and (max-width : 768px) {

	.margin-top-bottom {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.navbar-light .navbar-nav {
		padding-bottom: 10px;
		width: 100%;
	}
	
	.navbar-collapse {
		max-width: 180px;
		z-index: 1000;
		float: left!important;
		margin-right: 60%;
		background-color: #ffffff;
		border: 1px solid #969696;
		border-radius: 5px;
	}

	.navbar-brand {
		margin-right: auto;
		margin-left: auto;
	}

	.navbar-brand img {
		width: 150px;
		margin-right: 50px;
	}

	.navbar-collapse {
		-ms-flex-preferred-size: 100%;
		flex-basis: 35%;
		-ms-flex-positive: 1;
		flex-grow: .35;
		-ms-flex-align: center;
		align-items: center;
	}

	.navbar-nav .navbar-item {
		width: 140px;
		height: 50px;
	}

	.navbar-light .navbar-nav .nav-link {
		font-size: 18px;
		height: 60px;
		padding-top: 10px;
		width: 180px;
		color: #1F1F1F;
		background-color: transparent;
		display: inline-block;
		line-height: 50px;
		text-align: center;
		padding-left: 0px;
	}

	.navbar-light .navbar-nav .nav-item:hover .nav-link {
		color: #c4112f;
		line-height: 50px;
		display: inline-block;
	}

	/* carousel */

	.carousel-item img {
		max-height: 55vh ;
		min-height: 55vh ;
	}

	/* about */

	.about h3 {
		margin: 30px 5%;
		float: right;
		border-bottom: 2px solid #c4112f;
		padding-bottom: 15px;
		font-size: 20px;
    }
	
	.about p {
		margin: 0 8%;
		float: right;
		clear: right;
		font-size: 14px;
		color: #616161;
		text-align: center;
		line-height: 30px;
		word-spacing: 2px;
	}

	.about p span {
        color: #c4112f;
		margin: 0 4px;
		font-weight: bold;
		font-size: 15px;
	}

	/* clients */

	.clients {
		overflow: hidden;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.clients h3 {
		margin: 30px 10%;
		float: right;
		border-bottom: 2px solid #c4112f;
		padding-bottom: 15px;
		font-size: 20px;
	}

	.clients .carousel-item img {
		max-height: 18vh;
		min-height: 18vh;
		max-width: 85%;
	}

	.carousel-control-prev, .carousel-control-next {
		width: 25px;
		height: 25px;
		margin-top: 50px;
	}

	/* contacts */

	.contact {
		overflow: hidden;
		margin-top: 20px;
		padding-bottom: 10px;
	}

	.contact h3 {
			margin: 20px 5% 40px 5%;
			float: right;
			clear: right;
			border-bottom: 2px solid #c4112f;
			padding-bottom: 15px;
			font-size: 20px;
	}

	.contact p {
			margin: auto;
			font-size: 16px;
			color: #616161;
			text-align: center;
			line-height: 30px;
			word-spacing: 5px;
			font-weight: bold;
			font-family: 'Tajawal', sans-serif;
			letter-spacing: 2px;
	}

	.contact a {
		text-decoration: none;
		color: #616161;
		font-size: 16px;
		color: #616161;
		text-align: center;
		line-height: 40px;
		word-spacing: 5px;
		font-weight: bold;
		font-family: 'Tajawal', sans-serif;
		letter-spacing: 2px;
	}

	/* footer */

	.footer {
		height: 70px;
		position: relative;
		text-align: center;
		margin-top: 40px;
		padding: 0px;
	}
	
	.footer .row .rights {
		bottom: 0px;
		position: absolute;
		text-align: center; 
	}
	
	.footer .row .icons {
		position: absolute;
		text-align: center;
		top: 10px;
	}

	.footer .row .rights p {
		font-size: 11px;
		line-height: 5px;
	}

	.footer .row .icons a i {
		font-size: 12px;
		line-height: 20px;
		padding-left:7px;
		padding-right: 7px; 
	}


	/* gallery */

	.gallery-image1 {
		height: 200px;
	}

	.gallery-image2 {
		height: 100px;
	}

	.gallery-image2 img , .gallery-image1 img {
		width: 100%!important;
		height: 100%!important;
	}

	.img-box-effect {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: rgb(0,0,0,.6);
		opacity: 0;
		-webkit-transition: opacity 0.8s, visibility 0.8s;
		transition: opacity 0.8s, visiblity 0.8s;
		visibility: hidden;
	}

	.img-box-effect h5 {
		font-size: 12px;
		line-height: 100px;
	}

	.img-box:hover .img-box-effect {
		opacity: 1;
		visibility: visible;
	}

	.img-box:focus .img-box-effect {
		opacity: 1;
		visibility: visible;
	}

	.limo-item {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 15px;
		left: 15px;
		background-color: rgb(0,0,0,.6);
		opacity: 0;
		-webkit-transition: opacity 0.8s, visibility 0.8s;
		transition: opacity 0.8s, visiblity 0.8s;
		visibility: hidden;
	}

	.img-box:hover .limo-item {
		opacity: 1;
		visibility: visible;
	}

	.img-box:focus .limo-item {
		opacity: 1;
		visibility: visible;
	}

	.limo-item h5 {
		color: #d3d3d3;
		font-size: 14px;
		margin-top: 35px;
	}

	/* honeymoon */

	.honeymoon h2 {
		margin: 30px 10%;
		font-size: 20px;
		padding-bottom: 15px;
	}

	.honeymoon .info {
		margin-top: 50px;
		font-size: 16px;
		line-height: 40px;
		text-align: right;
		padding-left: 20px;
		padding-right: 20px;
	}

	.honeymoon .info h3 {
		font-size: 19px;
		line-height: 40px;
		margin-bottom: 25px;
	}

	/* Tourism */

	.tourism h2 {
		margin: 30px 10%;
		font-size: 20px;
	}

	.tourism .info {
		margin-top: 50px;
		font-size: 14px;
		padding-left: 20px;
		padding-right: 20px;
	}

	/* Limousine */

	.limo h2 {
		margin: 30px 10% 20px 10%;
		font-size: 20px;
	}

	.limo .info {
		margin-top: 0px;
		margin-bottom: 20px;
		font-size: 14px;
		padding-left: 30px;
		padding-right: 30px;
		line-height: 30px;
	}

	.limo .card-body {
		padding: 0px;
	}

	.btn-link {
		font-weight: 400;
		font-size: 18px;
	}

	/* Trips */

	.trips h2 {
		margin: 30px 10%;
		font-size: 20px;
	}

	.trips .info {
		margin-top: 50px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.trips .info h3 {
		font-size: 18px;
		line-height: 40px;
		margin-bottom: 20px;
	}

	.trips .info li {
		font-size: 14px;
		line-height: 35px;
	}

	/* Flights */

	.flights h2 {
		margin: 30px 10%;
		font-size: 20px;
	}

	.flights .flights-cover {
		max-height: 50vh;
	}

	.flights .info {
		margin-top: 50px;
	}

	.flights .info h3 {
		font-size: 19px;
		line-height: 40px;
	}

	.flights .info h4 {
		font-size: 18px;
		line-height: 40px;
	}

	.flights .info p {
		font-size: 16px;
		line-height: 35px;
		margin-top: 30px;
	}

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width : 992px) {
	
	.navbar-light .navbar-toggler {
		border: none!important;
		margin-left: 30px;
	}

	.margin-top-bottom {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	nav {
		direction: rtl ;
		height: 100px;
		border-bottom: 1px solid #B7B7B7;
		background-color: #FBFBFB;
	}

	.navbar-light .navbar-nav {
		padding-bottom: 10px;
		width: 100%;
	}
	
	.navbar-collapse {
		max-width: 210px;
		z-index: 1000;
		float: left!important;
		margin-right: 70%;
		background-color: #ffffff;
		border: 1px solid #969696;
		border-radius: 5px;
	}

	.navbar-brand {
		margin-right: 20px;
	}

	.navbar-brand img {
		width: 220px;
		height: 85px;
		margin-right: 35px;
	}

	.navbar-collapse {
		-ms-flex-preferred-size: 100%;
		flex-basis: 35%;
		-ms-flex-positive: 1;
		flex-grow: .35;
		-ms-flex-align: center;
		align-items: center;
	}

	.navbar-toggler-icon {
		display: inline-block;
		width: 2.3em;
		height: 2.3em;
		vertical-align: middle;
		content: "";
		background: no-repeat center center;
		background-size: 100% 100%;
	}

	.navbar-nav .navbar-item {
		width: 140px;
		height: 50px;
	}

	.navbar-light .navbar-nav .nav-link {
		font-size: 18px;
		height: 60px;
		padding-top: 10px;
		width: 180px;
		color: #1F1F1F;
		background-color: transparent;
		display: inline-block;
		line-height: 50px;
		text-align: center;
		padding-left: 0px;
	}

	.navbar-light .navbar-nav .nav-item:hover .nav-link {
		color: #c4112f;
		line-height: 50px;
		display: inline-block;
	}

	/* carousel */

	.carousel-item img {
		max-height: 80vh ;
		min-height: 80vh ;
	}

	/* about */
	
	.about p {
		margin: 0 8%;
		float: right;
		clear: right;
		font-size: 20px;
		color: #616161;
		text-align: center;
		line-height: 45px;
		word-spacing: 3px;
	}

	.about p span {
        color: #c4112f;
		margin: 0 4px;
		font-weight: bold;
		font-size: 21px;
	}

	/* clients */

	.clients {
		overflow: hidden;
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.clients .carousel-item img {
		max-height: 18vh;
		min-height: 18vh;
		max-width: 85%;
	}

	.carousel-control-prev, .carousel-control-next {
		width: 25px;
		height: 25px;
		margin-top: 50px;
	}

	/* contacts */

	.contact {
		overflow: hidden;
		margin-top: 20px;
		padding-bottom: 10px;
	}

	.contact h3 {
			margin: 20px 5% 40px 5%;
			float: right;
			clear: right;
			border-bottom: 2px solid #c4112f;
			padding-bottom: 15px;
			font-size: 20px;
	}

	.contact p {
			margin: auto;
			font-size: 16px;
			color: #616161;
			text-align: center;
			line-height: 30px;
			word-spacing: 5px;
			font-weight: bold;
			font-family: 'Tajawal', sans-serif;
			letter-spacing: 2px;
	}

	.contact a {
		text-decoration: none;
		color: #616161;
		font-size: 16px;
		color: #616161;
		text-align: center;
		line-height: 40px;
		word-spacing: 5px;
		font-weight: bold;
		font-family: 'Tajawal', sans-serif;
		letter-spacing: 2px;
	}

	/* footer */

	.footer {
		height: 70px;
		position: relative;
		text-align: center;
		margin-top: 40px;
		padding: 0px;
	}
	
	.footer .row .rights {
		bottom: 0px;
		position: absolute;
		text-align: center; 
	}
	
	.footer .row .icons {
		position: absolute;
		text-align: center;
		top: 10px;
	}

	.footer .row .rights p {
		font-size: 11px;
		line-height: 5px;
	}

	.footer .row .icons a i {
		font-size: 12px;
		line-height: 20px;
		padding-left:7px;
		padding-right: 7px; 
	}


	/* gallery */

	.gallery-image1 {
		height: 200px;
	}

	.gallery-image2 {
		height: 100px;
	}

	.gallery-image2 img , .gallery-image1 img {
		width: 100%!important;
		height: 100%!important;
	}

	.img-box-effect {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: rgb(0,0,0,.6);
		opacity: 0;
		-webkit-transition: opacity 0.8s, visibility 0.8s;
		transition: opacity 0.8s, visiblity 0.8s;
		visibility: hidden;
	}

	.img-box-effect h5 {
		font-size: 12px;
		line-height: 100px;
	}

	.img-box:hover .img-box-effect {
		opacity: 1;
		visibility: visible;
	}

	.img-box:focus .img-box-effect {
		opacity: 1;
		visibility: visible;
	}

	.limo-item {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 15px;
		left: 15px;
		background-color: rgb(0,0,0,.6);
		opacity: 0;
		-webkit-transition: opacity 0.8s, visibility 0.8s;
		transition: opacity 0.8s, visiblity 0.8s;
		visibility: hidden;
	}

	.img-box:hover .limo-item {
		opacity: 1;
		visibility: visible;
	}

	.img-box:focus .limo-item {
		opacity: 1;
		visibility: visible;
	}

	.limo-item h5 {
		color: #d3d3d3;
		font-size: 14px;
		margin-top: 35px;
	}

	/* honeymoon */

	.honeymoon h2 {
		margin: 30px 10%;
		font-size: 20px;
		padding-bottom: 15px;
	}

	.honeymoon .info {
		margin-top: 50px;
		font-size: 16px;
		line-height: 40px;
		text-align: right;
		padding-left: 20px;
		padding-right: 20px;
	}

	.honeymoon .info h3 {
		font-size: 19px;
		line-height: 40px;
		margin-bottom: 25px;
	}

	/* Tourism */

	.tourism h2 {
		margin: 30px 10%;
		font-size: 20px;
	}

	.tourism .info {
		margin-top: 50px;
		font-size: 14px;
		padding-left: 20px;
		padding-right: 20px;
	}

	/* Limousine */

	.limo h2 {
		margin: 30px 10% 20px 10%;
		font-size: 20px;
	}

	.limo .info {
		margin-top: 0px;
		margin-bottom: 20px;
		font-size: 14px;
		padding-left: 30px;
		padding-right: 30px;
		line-height: 30px;
	}

	.limo .card-body {
		padding: 0px;
	}

	.btn-link {
		font-weight: 400;
		font-size: 18px;
	}

	/* Trips */

	.trips h2 {
		margin: 30px 10%;
		font-size: 20px;
	}

	.trips .info {
		margin-top: 50px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.trips .info h3 {
		font-size: 18px;
		line-height: 40px;
		margin-bottom: 20px;
	}

	.trips .info li {
		font-size: 14px;
		line-height: 35px;
	}

	/* Flights */

	.flights h2 {
		margin: 30px 10%;
		font-size: 20px;
	}

	.flights .flights-cover {
		max-height: 50vh;
	}

	.flights .info {
		margin-top: 50px;
	}

	.flights .info h3 {
		font-size: 19px;
		line-height: 40px;
	}

	.flights .info h4 {
		font-size: 18px;
		line-height: 40px;
	}

	.flights .info p {
		font-size: 16px;
		line-height: 35px;
		margin-top: 30px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

	.navbar-brand {
		margin-right: 0px;
	}
	
	.navbar-brand img {
		width: 180px;
		height: 75px;
	}

	.navbar-light .navbar-nav .nav-link {
		font-size: 20px;
		padding-left: 10px;
		min-width: 80px;
	}

	/* footer */

	.footer {
		padding: 0px 45px;
	}

	/* Tourism */

	.tourism .info {
		line-height: 45px;
	}

	.gallery-image1 {
		height: 460px;
	}

	.gallery-image2 {
		height: 230px;
	}
	
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

	nav {
		height: 100px;
	}

	.navbar-brand {
		margin-right: 40px;
	}
	
	.navbar-brand img {
		width: 200px;
		height: 80px;
	}

	.navbar-light .navbar-nav .nav-link {
		font-size: 20px;
		padding-left: 20px;
		min-width: 90px;
	}

	/* Tourism */

	.tourism .info {
		margin-top: 80px;
		line-height: 45px;
	}

	/* Limousine */

	.limo .info {
		margin-top: 0px;
		margin-bottom: 50px;
	}
}

										/* End Media Query */